.head{
    background-image:  linear-gradient(#80808000, #000000bf),url("shutterstock_348320018@2x.png");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.logo{
    font-size: 75px;
}

.Discover-food{
    font-size: 3vw;
}



.location-search{
    border-radius: 8px 0px 0px 8px;
}

.food-search{
    border-radius: 0px 8px 8px 0px;  
}
.input{
    width: 96%;
    outline: none;
    border: none;
    background-color: transparent;
    height: 8vh;
}
.img-box{
    box-shadow:  rgb(170, 170, 170) 10px 10px 5px;
    border-radius: 20px;
}
.img-box:hover{
    transform: scale(1.03);
    transition-duration: 700ms;
}
.quick-serch-img{
    width: 100%;
    height: 220px;
    border-radius: 20px 20px 0px 0px;
}

.footer{
    background-color: rgba(238, 236, 236, 0.781);
  
    
}
.footer-country{
    width: 160px ;  
    border: 1px solid rgb(150, 144, 144);    
}
.flag-img{
    height: 25px;
    width: 35px;
}
.socia-media-symbol{
   width: 30px;
   height: 30px;
    background-color: black;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}
.appstore-googlestore-link{
    height: 40px;
    width: 155px;
}
@media screen and (max-width: 800px) {
    .logo{
        font-size: 40px;
    }

    .Discover-food{
        font-size: 4vw;
        font-weight: bold;
    }

    .location-search{
        border-radius: 8px ;
    }
    
    .food-search{
        border-radius:  8px ;  
    }





  }

